<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'components/head/head.twig' %}
</head>
<body>
{% include 'components/header/header.twig' %}

<main>
    {% block content %}{% endblock %}
</main>
{% include 'components/footer/footer.twig' %}
</body>
</html>